In [2]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('log_week_2_end.csv')
df['duration_processed'] = df['duration'].apply(lambda x: float(str(x).replace('duration: ', '').replace(' ms', '')))
df['query_processed'] = df['query'].apply(lambda x: x.replace(',', ' ').split())

In [22]:
df

,rn,loguser,query,duration,duration_processed,query_processed
0,16493642,etl_528,from tbl_111329,duration: 240.851 ms,240.851,"[from, tbl_111329]"
1,12761109,etl_528,from tbl_127353,duration: 2165.935 ms,2165.935,"[from, tbl_127353]"
2,28294808,etl_528,from tbl_128986,duration: 17661.026 ms,17661.026,"[from, tbl_128986]"
3,12703938,etl_528,from tbl_155188,duration: 1047.568 ms,1047.568,"[from, tbl_155188]"
4,5906380,etl_528,from tbl_48128,duration: 171.001 ms,171.001,"[from, tbl_48128]"
...,...,...,...,...,...,...
630073,28834119,etl_528,from tbl_208448,duration: 844.241 ms,844.241,"[from, tbl_208448]"
630074,21292107,etl_2048,from tbl_160773,duration: 40.054 ms,40.054,"[from, tbl_160773]"
630075,12924693,etl_2048,"into tbl_83793,join tbl_83793,from tbl_83792",duration: 1190.617 ms,1190.617,"[into, tbl_83793, join, tbl_83793, from, tbl_8..."
630076,16756505,etl_1151,from tbl_15915,duration: 417.199 ms,417.199,"[from, tbl_15915]"
630077,21023432,etl_2048,from tbl_83212,duration: 692.306 ms,692.306,"[from, tbl_83212]"

In [24]:
big_list = []
for list_ in df['query_processed'].to_list():
    big_list.extend(list_)
big_list

['from',
 'tbl_111329',
 'from',
 'tbl_127353',
 'from',
 'tbl_128986',
 'from',
 'tbl_155188',
 'from',
 'tbl_48128',
 'from',
 'tbl_198033',
 'from',
 'tbl_136416',
 'from',
 'tbl_160309',
 'from',
 'tbl_57834',
 'from',
 'tbl_196524',
 'from',
 'tbl_155190',
 'from',
 'tbl_48136',
 'from',
 'tbl_195456',
 'from',
 'tbl_51990',
 'from',
 'tbl_131966',
 'from',
 'tbl_95630',
 'from',
 'tbl_148056',
 'from',
 'tbl_145342',
 'from',
 'tbl_153605',
 'from',
 'tbl_61640',
 'from',
 'tbl_129631',
 'from',
 'tbl_200584',
 'from',
 'tbl_95026',
 'from',
 'tbl_65560',
 'from',
 'tbl_199876',
 'join',
 'tbl_14714',
 'join',
 'tbl_14714',
 'join',
 'tbl_14714',
 'join',
 'tbl_14714',
 'join',
 'tbl_14714',
 'join',
 'tbl_14714',
 'join',
 'tbl_14714',
 'join',
 'tbl_14714',
 'join',
 'tbl_14714',
 'from',
 'tbl_18550',
 'join',
 'tbl_18822',
 'from',
 'tbl_18900',
 'join',
 'tbl_20007',
 'join',
 'tbl_20007',
 'join',
 'tbl_20007',
 'join',
 'tbl_20007',
 'join',
 'tbl_20007',
 'join',
 'tbl_20007',
 'join',
 'tbl_20007',
 'join',
 'tbl_20007',
 'join',
 'tbl_20007',
 'join',
 'tbl_27178',
 'join',
 'tbl_27178',
 'join',
 'tbl_27182',
 'join',
 'tbl_27182',
 'join',
 'tbl_27182',
 'join',
 'tbl_27182',
 'join',
 'tbl_27182',
 'join',
 'tbl_27182',
 'join',
 'tbl_27182',
 'join',
 'tbl_27182',
 'join',
 'tbl_27182',
 'into',
 'tbl_39079',
 'from',
 'tbl_39079',
 'into',
 'tbl_39156',
 'into',
 'tbl_39156',
 'into',
 'tbl_39156',
 'into',
 'tbl_39156',
 'into',
 'tbl_39156',
 'join',
 'tbl_39156',
 'from',
 'tbl_187161',
 'into',
 'tbl_290434',
 'into',
 'tbl_290434',
 'from',
 'tbl_290434',
 'from',
 'tbl_290434',
 'from',
 'tbl_290434',
 'from',
 'tbl_290434',
 'from',
 'tbl_290434',
 'from',
 'tbl_290434',
 'from',
 'tbl_290434',
 'from',
 'tbl_290434',
 'FROM',
 'tbl_290434',
 'FROM',
 'tbl_290434',
 'INTO',
 'tbl_290434',
 'from',
 'tbl_200560',
 'from',
 'tbl_200560',
 'from',
 'tbl_199853',
 'from',
 'tbl_200659',
 'from',
 'tbl_94811',
 'from',
 'tbl_10114',
 'from',
 'tbl_186691',
 'from',
 'tbl_195507',
 'from',
 'tbl_158079',
 'from',
 'tbl_208436',
 'from',
 'tbl_33185',
 'from',
 'tbl_33186',
 'into',
 'tbl_33186',
 'from',
 'tbl_200569',
 'from',
 'tbl_151221',
 'from',
 'tbl_199853',
 'from',
 'tbl_92055',
 'from',
 'tbl_157810',
 'from',
 'tbl_10114',
 'from',
 'tbl_189194',
 'from',
 'tbl_146736',
 'from',
 'tbl_200518',
 'from',
 'tbl_131189',
 'from',
 'tbl_195443',
 'from',
 'tbl_51984',
 'from',
 'tbl_140070',
 'from',
 'tbl_195545',
 'from',
 'tbl_33185',
 'from',
 'tbl_33186',
 'into',
 'tbl_33186',
 'from',
 'tbl_193604',
 'from',
 'tbl_229975',
 'from',
 'tbl_141478',
 'from',
 'tbl_195429',
 'from',
 'tbl_200576',
 'from',
 'tbl_191910',
 'from',
 'tbl_280829',
 'from',
 'tbl_74151',
 'from',
 'tbl_133358',
 'from',
 'tbl_115410',
 'INTO',
 'tbl_207491',
 'join',
 'tbl_8053',
 'join',
 'tbl_10303',
 'join',
 'tbl_14638',
 'join',
 'tbl_14714',
 'join',
 'tbl_14714',
 'join',
 'tbl_14714',
 'join',
 'tbl_14714',
 'join',
 'tbl_14714',
 'join',
 'tbl_14714',
 'from',
 'tbl_18550',
 'from',
 'tbl_18637',
 'join',
 'tbl_18780',
 'from',
 'tbl_18796',
 'join',
 'tbl_20007',
 'join',
 'tbl_20007',
 'join',
 'tbl_20007',
 'join',
 'tbl_20007',
 'join',
 'tbl_20007',
 'join',
 'tbl_20007',
 'join',
 'tbl_20560',
 'join',
 'tbl_20560',
 'from',
 'tbl_20716',
 'from',
 'tbl_20716',
 'join',
 'tbl_20795',
 'join',
 'tbl_20811',
 'from',
 'tbl_21279',
 'from',
 'tbl_21279',
 'join',
 'tbl_26776',
 'join',
 'tbl_27178',
 'join',
 'tbl_27178',
 'join',
 'tbl_27178',
 'join',
 'tbl_27182',
 'join',
 'tbl_27182',
 'join',
 'tbl_27182',
 'join',
 'tbl_27182',
 'join',
 'tbl_27182',
 'join',
 'tbl_27182',
 'join',
 'tbl_29040',
 'join',
 'tbl_29455',
 'join',
 'tbl_29481',
 'join',
 'tbl_29481',
 'into',
 'tbl_39104',
 'from',
 'tbl_39104',
 'into',
 'tbl_39181',
 'into',
 'tbl_39181',
 'into',
 'tbl_39181',
 'into',
 'tbl_39181',
 'join',
 'tbl_39181',
 'from',
 'tbl_258439',
 'from',
 'tbl_289938',
 'from',
 'tbl_291084',
 'from',
 'tbl_291084',
 'from',
 'tbl_291084',
 'into',
 'tbl_291083',
 'from',
 'tbl_291083',
 'from',
 'tbl_291083',
 'from',
 'tbl_291083',
 'from',
 'tbl_291083',
 'from',
 'tbl_291083',
 'into',
 'tbl_291083',
 'from',
 'tbl_291083',
 'join',
 'tbl_291083',
 'from',
 'tbl_291083',
 'join',
 'tbl_291083',
 'from',
 'tbl_291083',
 'from',
 'tbl_291083',
 'from',
 'tbl_291083',
 'from',
 'tbl_291083',
 'from',
 'tbl_291083',
 'from',
 'tbl_131966',
 'from',
 'tbl_119731',
 'from',
 'tbl_128984',
 'from',
 'tbl_147538',
 'from',
 'tbl_200652',
 'FROM',
 'tbl_161660',
 'join',
 'tbl_161889',
 'into',
 'tbl_161916',
 'from',
 'tbl_163136',
 'join',
 'tbl_163136',
 'join',
 'tbl_163136',
 'join',
 'tbl_163136',
 'join',
 'tbl_163136',
 'from',
 'tbl_163183',
 'FROM',
 'tbl_163183',
 'join',
 'tbl_163192',
 'from',
 'tbl_163489',
 'from',
 'tbl_121254',
 'from',
 'tbl_94863',
 'from',
 'tbl_199854',
 'from',
 'tbl_74605',
 'from',
 'tbl_172105',
 'from',
 'tbl_195536',
 'from',
 'tbl_131850',
 'from',
 'tbl_200637',
 'join',
 'tbl_19181',
 'from',
 'tbl_190260',
 'INTO',
 'tbl_232966',
 'join',
 'tbl_98881',
 'join',
 'tbl_99212',
 'join',
 'tbl_99215',
 'from',
 'tbl_99217',
 'from',
 'tbl_99217',
 'join',
 'tbl_99590',
 'join',
 'tbl_99629',
 'from',
 'tbl_99688',
 'join',
 'tbl_99692',
 'join',
 'tbl_99699',
 'join',
 'tbl_99770',
 'join',
 'tbl_99771',
 'into',
 'tbl_99815',
 'from',
 'tbl_117710',
 'join',
 'tbl_118045',
 'join',
 'tbl_118127',
 'join',
 'tbl_118127',
 'join',
 'tbl_118246',
 'from',
 'tbl_118322',
 'from',
 'tbl_157810',
 'from',
 'tbl_200640',
 'from',
 'tbl_200659',
 'from',
 'tbl_122782',
 'from',
 'tbl_55861',
 'from',
 'tbl_59707',
 'from',
 'tbl_95026',
 'from',
 'tbl_129631',
 'from',
 'tbl_44937',
 'from',
 'tbl_44937',
 'into',
 'tbl_211425',
 'from',
 'tbl_200618',
 'from',
 'tbl_131935',
 'from',
 'tbl_154273',
 'from',
 'tbl_33185',
 'from',
 'tbl_33186',
 'into',
 'tbl_33186',
 'from',
 'tbl_50111',
 'from',
 'tbl_128870',
 'from',
 'tbl_7205',
 'into',
 'tbl_7205',
 'into',
 'tbl_40953',
 'from',
 'tbl_68470',
 'join',
 'tbl_68470',
 'from',
 'tbl_387011',
 'join',
 'tbl_387011',
 'from',
 'tbl_387011',
 'from',
 'tbl_199850',
 'from',
 'tbl_105861',
 'from',
 'tbl_52000',
 'from',
 'tbl_155206',
 'from',
 'tbl_59724',
 'from',
 'tbl_195259',
 'from',
 'tbl_97681',
 'from',
 'tbl_200637',
 'from',
 'tbl_172126',
 'from',
 'tbl_139118',
 'from',
 'tbl_200592',
 'from',
 'tbl_200523',
 'from',
 'tbl_14971',
 'into',
 'tbl_14971',
 'from',
 'tbl_14971',
 'from',
 'tbl_44918',
 'from',
 'tbl_147547',
 'from',
 'tbl_202709',
 'from',
 'tbl_138640',
 'from',
 'tbl_100414',
 'from',
 'tbl_132443',
 'from',
 'tbl_145311',
 'from',
 'tbl_104500',
 'from',
 'tbl_191910',
 'from',
 'tbl_280829',
 'from',
 'tbl_200551',
 'from',
 'tbl_50111',
 'from',
 'tbl_149763',
 'from',
 'tbl_195534',
 'from',
 'tbl_72278',
 'from',
 'tbl_183120',
 'from',
 'tbl_184293',
 'from',
 'tbl_185505',
 'from',
 'tbl_186718',
 'from',
 'tbl_187950',
 'from',
 'tbl_189171',
 'from',
 'tbl_190260',
 'from',
 'tbl_191910',
 'from',
 'tbl_229683',
 'from',
 'tbl_200564',
 'from',
 'tbl_200545',
 'into',
 'tbl_45740',
 'from',
 'tbl_129716',
 'from',
 'tbl_200609',
 'from',
 'tbl_9012',
 'join',
 'tbl_9864',
 'join',
 'tbl_9864',
 'join',
 'tbl_10108',
 'join',
 'tbl_10108',
 'join',
 'tbl_10108',
 'join',
 'tbl_10108',
 'join',
 'tbl_12554',
 'join',
 'tbl_14583',
 'join',
 'tbl_19181',
 'join',
 'tbl_19181',
 'join',
 'tbl_19794',
 'join',
 'tbl_19794',
 'join',
 'tbl_27236',
 'from',
 'tbl_29207',
 'from',
 'tbl_185505',
 'from',
 'tbl_185505',
 'from',
 'tbl_191495',
 'join',
 'tbl_191913',
 'into',
 'tbl_281144',
 'from',
 'tbl_91559',
 'from',
 'tbl_33185',
 'from',
 'tbl_33186',
 'into',
 'tbl_33186',
 'from',
 'tbl_195532',
 'from',
 'tbl_122782',
 'from',
 'tbl_129631',
 'from',
 'tbl_200598',
 'from',
 'tbl_52000',
 'from',
 'tbl_136419',
 'into',
 'tbl_158754',
 'from',
 'tbl_154653',
 'from',
 'tbl_134158',
 'from',
 'tbl_155200',
 'from',
 'tbl_109377',
 'from',
 'tbl_109377',
 'from',
 'tbl_109528',
 'from',
 'tbl_109528',
 'join',
 'tbl_109789',
 'join',
 'tbl_109789',
 'from',
 'tbl_109863',
 'from',
 'tbl_109863',
 'join',
 'tbl_110043',
 'join',
 'tbl_110043',
 'from',
 'tbl_110123',
 'join',
 'tbl_110123',
 'from',
 'tbl_110123',
 'join',
 'tbl_110123',
 'from',
 'tbl_110125',
 'from',
 'tbl_110125',
 'from',
 'tbl_110125',
 'from',
 'tbl_110125',
 'join',
 'tbl_110496',
 'join',
 'tbl_110496',
 'join',
 'tbl_110598',
 'join',
 'tbl_110598',
 'join',
 'tbl_110672',
 'join',
 'tbl_110672',
 'join',
 'tbl_110675',
 'join',
 'tbl_110675',
 'into',
 'tbl_110721',
 'into',
 'tbl_110721',
 'from',
 'tbl_121254',
 'from',
 'tbl_76280',
 'from',
 'tbl_166171',
 'from',
 'tbl_67434',
 'from',
 'tbl_143091',
 'from',
 'tbl_208433',
 'from',
 'tbl_195580',
 'from',
 'tbl_200511',
 'from',
 'tbl_196578',
 'from',
 'tbl_10114',
 'from',
 'tbl_184656',
 'join',
 'tbl_19181',
 'from',
 'tbl_185505',
 'INTO',
 'tbl_230421',
 'from',
 'tbl_72096',
 'from',
 'tbl_200532',
 'from',
 'tbl_59707',
 'from',
 'tbl_200564',
 'FROM',
 'tbl_19103',
 'FROM',
 'tbl_26976',
 'FROM',
 'tbl_29042',
 'INTO',
 'tbl_37641',
 'from',
 'tbl_49675',
 'from',
 'tbl_49675',
 'FROM',
 'tbl_49714',
 'FROM',
 'tbl_49714',
 'FROM',
 'tbl_49957',
 'FROM',
 'tbl_49957',
 'FROM',
 'tbl_50062',
 'join',
 'tbl_50975',
 'join',
 'tbl_51165',
 'from',
 'tbl_51167',
 'from',
 'tbl_51167',
 'FROM',
 'tbl_51199',
 'FROM',
 'tbl_51204',
 'INTO',
 'tbl_349254',
 'from',
 'tbl_149772',
 'from',
 'tbl_200621',
 'from',
 'tbl_69163',
 'from',
 'tbl_137859',
 'from',
 'tbl_200606',
 'from',
 'tbl_145311',
 'from',
 'tbl_10114',
 'from',
 'tbl_187010',
 'from',
 'tbl_92103',
 'join',
 'tbl_20055',
 'from',
 'tbl_40941',
 'from',
 'tbl_379369',
 'from',
 'tbl_379369',
 'into',
 'tbl_379641',
 'into',
 'tbl_379641',
 'from',
 'tbl_135583',
 'from',
 'tbl_72096',
 'into',
 'tbl_8167',
 'from',
 'tbl_112677',
 'from',
 'tbl_48132',
 'from',
 'tbl_115410',
 'from',
 'tbl_149767',
 'from',
 'tbl_33185',
 'from',
 'tbl_33186',
 'into',
 'tbl_33186',
 'from',
 'tbl_104500',
 'from',
 'tbl_10114',
 'from',
 'tbl_179667',
 'from',
 'tbl_143098',
 'from',
 'tbl_103151',
 'from',
 'tbl_130340',
 'from',
 'tbl_124328',
 'from',
 'tbl_74151',
 'from',
 'tbl_52902',
 'from',
 'tbl_140854',
 'from',
 'tbl_137859',
 'from',
 'tbl_67447',
 'from',
 'tbl_199870',
 'from',
 'tbl_66421',
 'from',
 'tbl_200643',
 'join',
 'tbl_10302',
 'from',
 'tbl_22881',
 'into',
 'tbl_385465',
 'from',
 'tbl_193772',
 'from',
 'tbl_195540',
 'from',
 'tbl_195540',
 'from',
 'tbl_200584',
 'from',
 'tbl_99061',
 'from',
 'tbl_65502',
 'from',
 'tbl_144509',
 'from',
 'tbl_140772',
 'from',
 'tbl_57782',
 'from',
 'tbl_61697',
 'from',
 'tbl_134170',
 'from',
 'tbl_50971',
 'from',
 'tbl_198033',
 'from',
 'tbl_145935',
 'from',
 'tbl_65502',
 'from',
 'tbl_59724',
 'join',
 'tbl_19181',
 'from',
 'tbl_186718',
 'INTO',
 'tbl_230877',
 'from',
 'tbl_44937',
 'from',
 'tbl_44937',
 'into',
 'tbl_211425',
 'from',
 'tbl_195515',
 'from',
 'tbl_10114',
 'from',
 'tbl_183433',
 'from',
 'tbl_59718',
 'from',
 'tbl_202710',
 'from',
 'tbl_147535',
 'from',
 'tbl_197439',
 'from',
 'tbl_44937',
 'from',
 'tbl_44937',
 'into',
 'tbl_211425',
 'from',
 'tbl_61656',
 'from',
 'tbl_50053',
 'from',
 'tbl_67434',
 'from',
 'tbl_200637',
 'from',
 'tbl_51984',
 'from',
 'tbl_199857',
 'from',
 'tbl_195457',
 'from',
 'tbl_129639',
 'from',
 'tbl_100427',
 'from',
 'tbl_143001',
 'from',
 'tbl_10114',
 'from',
 'tbl_184207',
 'from',
 'tbl_145233',
 'from',
 'tbl_120492',
 'from',
 'tbl_157810',
 'from',
 'tbl_140861',
 'into',
 'tbl_10475',
 'from',
 'tbl_147538',
 'from',
 'tbl_129639',
 'from',
 'tbl_195580',
 ...]

In [67]:
processed_big_list = list(set(big_list))
total_length = len(processed_big_list)

In [69]:
codes = pd.factorize(processed_big_list)

In [153]:
codes[1][0]

'tbl_277855'

In [159]:
alphabet_df = pd.DataFrame(columns = ['code', 'value'])
for index in range(len(processed_big_list)):
    alphabet_df = alphabet_df.append({
        "code": codes[0][index],
        "value": codes[1][index]
    }, ignore_index=True)

In [162]:
alphabet_df['code'] = alphabet_df['code'].apply(lambda x: x+1)
alphabet_df

        code       value
0          1  tbl_277855
1          2  tbl_135565
2          3  tbl_179336
3          4  tbl_202104
4          5  tbl_267209
...      ...         ...
39181  39182   tbl_38262
39182  39183   tbl_27303
39183  39184  tbl_113687
39184  39185  tbl_260513
39185  39186  tbl_130342

[39186 rows x 2 columns]

In [163]:
alphabet_df.to_csv('encoding.csv')

In [73]:
total_length

39186

### Forming dataset

In [126]:
class static():
    i = 0
    
def sorting(_list):
    static.i += 1
    if static.i % 1000 == 0:
        print((static.i / len(df)) * 100)
    easy_list = []
    for part in _list:
        easy_list.append(np.where(codes[1] == part)[0][0])
    return easy_list
 

df['coded_query'] = df['query_processed'].apply(sorting)

0.1587105088576335
0.317421017715267
0.47613152657290053
0.634842035430534
0.7935525442881675
0.9522630531458011
1.1109735620034344
1.269684070861068
1.4283945797187014
1.587105088576335
1.7458155974339684
1.9045261062916021
2.0632366151492354
2.221947124006869
2.3806576328645024
2.539368141722136
2.6980786505797694
2.856789159437403
3.015499668295037
3.17421017715267
3.332920686010304
3.491631194867937
3.6503417037255703
3.8090522125832043
3.9677627214408373
4.126473230298471
4.285183739156104
4.443894248013738
4.602604756871371
4.761315265729005
4.920025774586638
5.078736283444272
5.237446792301906
5.396157301159539
5.554867810017172
5.713578318874806
5.872288827732439
6.030999336590074
6.189709845447706
6.34842035430534
6.507130863162973
6.665841372020608
6.824551880878241
6.983262389735874
7.141972898593507
7.300683407451141
7.459393916308775
7.6181044251664085
7.776814934024041
7.935525442881675
8.094235951739307
8.252946460596942
8.411656969454576
8.570367478312209
8.729077987169841
8.887788496027476
9.04649900488511
9.205209513742743
9.363920022600377
9.52263053145801
9.681341040315644
9.840051549173277
9.998762058030911
10.157472566888543
10.316183075746178
10.474893584603812
10.633604093461445
10.792314602319077
10.951025111176712
11.109735620034344
11.268446128891979
11.427156637749611
11.585867146607246
11.744577655464878
11.903288164322511
12.061998673180147
12.22070918203778
12.379419690895412
12.538130199753047
12.69684070861068
12.855551217468314
13.014261726325946
13.17297223518358
13.331682744041215
13.490393252898848
13.649103761756482
13.807814270614113
13.966524779471747
14.125235288329382
14.283945797187014
14.442656306044649
14.601366814902281
14.760077323759916
14.91878783261755
15.07749834147518
15.236208850332817
15.394919359190448
15.553629868048082
15.712340376905717
15.87105088576335
16.029761394620984
16.188471903478614
16.34718241233625
16.505892921193883
16.664603430051518
16.823313938909152
16.982024447766783
17.140734956624417
17.29944546548205
17.458155974339682
17.61686648319732
17.77557699205495
17.934287500912586
18.09299800977022
18.25170851862785
18.410419027485485
18.56912953634312
18.727840045200754
18.88655055405839
19.04526106291602
19.203971571773653
19.362682080631288
19.52139258948892
19.680103098346553
19.838813607204187
19.997524116061822
20.156234624919456
20.314945133777087
20.47365564263472
20.632366151492356
20.79107666034999
20.949787169207625
21.108497678065255
21.26720818692289
21.42591869578052
21.584629204638155
21.74333971349579
21.902050222353424
22.060760731211058
22.21947124006869
22.378181748926323
22.536892257783958
22.69560276664159
22.854313275499223
23.013023784356857
23.17173429321449
23.330444802072126
23.489155310929757
23.64786581978739
23.806576328645022
23.96528683750266
24.123997346360294
24.282707855217925
24.44141836407556
24.60012887293319
24.758839381790825
24.91754989064846
25.076260399506094
25.234970908363724
25.39368141722136
25.552391926078993
25.711102434936628
25.869812943794262
26.028523452651893
26.187233961509527
26.34594447036716
26.504654979224796
26.66336548808243
26.822075996940058
26.980786505797695
27.13949701465533
27.298207523512964
27.4569180323706
27.615628541228226
27.77433905008586
27.933049558943495
28.09176006780113
28.250470576658763
28.409181085516394
28.56789159437403
28.726602103231663
28.885312612089297
29.04402312094693
29.202733629804563
29.361444138662197
29.52015464751983
29.678865156377466
29.8375756652351
29.996286174092727
30.15499668295036
30.313707191808
30.472417700665634
30.63112820952327
30.789838718380896
30.94854922723853
31.107259736096164
31.2659702449538
31.424680753811433
31.583391262669064
31.7421017715267
31.900812280384333
32.05952278924197
32.218233298099605
32.37694380695723
32.53565431581487
32.6943648246725
32.853075333530136
33.011785842387766
33.1704963512454
33.329206860103035
33.487917368960666
33.646627877818304
33.805338386675935
33.964048895533566
34.1227594043912
34.281469913248834
34.44018042210647
34.5988909309641
34.757601439821734
34.916311948679365
35.075022457537
35.23373296639464
35.39244347525227
35.5511539841099
35.70986449296753
35.86857500182517
36.0272855106828
36.18599601954044
36.34470652839807
36.5034170372557
36.66212754611334
36.82083805497097
36.97954856382861
37.13825907268624
37.29696958154387
37.45568009040151
37.61439059925914
37.77310110811678
37.93181161697441
38.09052212583204
38.249232634689676
38.40794314354731
38.566653652404945
38.725364161262576
38.88407467012021
39.04278517897784
39.201495687835475
39.360206196693106
39.518916705550744
39.677627214408375
39.836337723266006
39.995048232123644
40.153758740981274
40.31246924983891
40.47117975869654
40.629890267554174
40.78860077641181
40.94731128526944
41.10602179412708
41.26473230298471
41.42344281184234
41.58215332069998
41.74086382955761
41.89957433841525
42.05828484727287
42.21699535613051
42.37570586498814
42.53441637384578
42.69312688270341
42.85183739156104
43.01054790041868
43.16925840927631
43.32796891813395
43.48667942699158
43.64538993584921
43.80410044470685
43.96281095356448
44.121521462422116
44.28023197127975
44.43894248013738
44.597652988995016
44.75636349785265
44.915074006710284
45.073784515567915
45.232495024425546
45.39120553328318
45.549916042140815
45.708626550998446
45.867337059856084
46.026047568713714
46.184758077571345
46.34346858642898
46.502179095286614
46.66088960414425
46.81960011300188
46.978310621859514
47.13702113071715
47.29573163957478
47.45444214843242
47.613152657290044
47.77186316614768
47.93057367500532
48.08928418386295
48.24799469272059
48.40670520157821
48.56541571043585
48.72412621929348
48.88283672815112
49.04154723700876
49.20025774586638
49.35896825472402
49.51767876358165
49.67638927243929
49.83509978129692
49.99381029015455
50.15252079901219
50.31123130786982
50.46994181672745
50.62865232558509
50.78736283444272
50.946073343300355
51.104783852157986
51.26349436101562
51.422204869873255
51.580915378730886
51.739625887588524
51.898336396446155
52.057046905303785
52.21575741416142
52.374467923019054
52.53317843187669
52.69188894073432
52.850599449591954
53.00930995844959
53.16802046730722
53.32673097616486
53.48544148502249
53.644151993880115
53.80286250273776
53.96157301159539
54.12028352045303
54.27899402931066
54.43770453816828
54.59641504702593
54.75512555588355
54.9138360647412
55.07254657359882
55.23125708245645
55.38996759131409
55.54867810017172
55.707388609029366
55.86609911788699
56.02480962674462
56.18352013560226
56.34223064445989
56.50094115331753
56.65965166217516
56.81836217103279
56.977072679890426
57.13578318874806
57.294493697605695
57.453204206463326
57.61191471532096
57.770625224178595
57.929335733036226
58.08804624189386
58.246756750751494
58.405467259609125
58.56417776846676
58.722888277324394
58.88159878618203
59.04030929503966
59.19901980389729
59.35773031275493
59.51644082161256
59.6751513304702
59.83386183932783
59.992572348185455
60.1512828570431
60.30999336590072
60.46870387475837
60.627414383616
60.78612489247362
60.94483540133127
61.10354591018889
61.26225641904654
61.42096692790416
61.57967743676179
61.738387945619436
61.89709845447706
62.055808963334705
62.21451947219233
62.37322998104996
62.5319404899076
62.69065099876523
62.849361507622866
63.0080720164805
63.16678252533813
63.325493034195766
63.4842035430534
63.642914051911035
63.801624560768666
63.960335069626296
64.11904557848393
64.27775608734156
64.43646659619921
64.59517710505683
64.75388761391446
64.9125981227721
65.07130863162973
65.23001914048737
65.388729649345
65.54744015820263
65.70615066706027
65.8648611759179
66.02357168477553
66.18228219363317
66.3409927024908
66.49970321134843
66.65841372020607
66.81712422906371
66.97583473792133
67.13454524677897
67.29325575563661
67.45196626449423
67.61067677335187
67.76938728220951
67.92809779106713
68.08680829992477
68.2455188087824
68.40422931764004
68.56293982649767
68.7216503353553
68.88036084421294
69.03907135307057
69.1977818619282
69.35649237078584
69.51520287964347
69.6739133885011
69.83262389735873
69.99133440621638
70.150044915074
70.30875542393163
70.46746593278928
70.6261764416469
70.78488695050454
70.94359745936217
71.1023079682198

71.26101847707744
71.41972898593507
71.57843949479272
71.73715000365034
71.89586051250797
72.0545710213656
72.21328153022324
72.37199203908088
72.5307025479385
72.68941305679614
72.84812356565378
73.0068340745114
73.16554458336904
73.32425509222668
73.48296560108432
73.64167610994194
73.80038661879958
73.95909712765722
74.11780763651484
74.27651814537248
74.43522865423012
74.59393916308774
74.75264967194538
74.91136018080302
75.07007068966065
75.22878119851828
75.38749170737591
75.54620221623355
75.70491272509118
75.86362323394881
76.02233374280645
76.18104425166408
76.33975476052171
76.49846526937935
76.65717577823699
76.81588628709461
76.97459679595224
77.13330730480989
77.29201781366751
77.45072832252515
77.60943883138279
77.76814934024041
77.92685984909805
78.08557035795567
78.24428086681333
78.40299137567095
78.56170188452857
78.72041239338621
78.87912290224385
79.03783341110149
79.19654391995911
79.35525442881675
79.51396493767439
79.67267544653201
79.83138595538965
79.99009646424729
80.14880697310491
80.30751748196255
80.46622799082019
80.62493849967782
80.78364900853545
80.94235951739309
81.10107002625072
81.25978053510835
81.41849104396599
81.57720155282362
81.73591206168125
81.89462257053889
82.05333307939652
82.21204358825416
82.37075409711179
82.52946460596942
82.68817511482706
82.84688562368468
83.00559613254232
83.16430664139996
83.32301715025758
83.48172765911522
83.64043816797285
83.7991486768305
83.95785918568812
84.11656969454575
84.2752802034034
84.43399071226102
84.59270122111866
84.75141172997628
84.91012223883392
85.06883274769156
85.22754325654918
85.38625376540682
85.54496427426446
85.70367478312208
85.86238529197972
86.02109580083736
86.179806309695
86.33851681855262
86.49722732741026
86.6559378362679
86.81464834512552
86.97335885398316
87.1320693628408
87.29077987169842
87.44949038055606
87.6082008894137
87.76691139827133
87.92562190712896
88.0843324159866
88.24304292484423
88.40175343370186
88.5604639425595
88.71917445141713
88.87788496027476
89.0365954691324
89.19530597799003
89.35401648684767
89.5127269957053
89.67143750456292
89.83014801342057
89.98885852227819
90.14756903113583
90.30627953999345
90.46499004885109
90.62370055770873
90.78241106656635
90.941121575424
91.09983208428163
91.25854259313925
91.41725310199689
91.57596361085453
91.73467411971217
91.89338462856979
92.05209513742743
92.21080564628507
92.36951615514269
92.52822666400033
92.68693717285797
92.84564768171559
93.00435819057323
93.16306869943087
93.3217792082885
93.48048971714613
93.63920022600377
93.7979107348614
93.95662124371903
94.11533175257667
94.2740422614343
94.43275277029193
94.59146327914956
94.7501737880072
94.90888429686484
95.06759480572246
95.22630531458009
95.38501582343774
95.54372633229536
95.702436841153
95.86114735001064
96.01985785886826
96.1785683677259
96.33727887658353
96.49598938544118
96.6546998942988
96.81341040315642
96.97212091201408
97.1308314208717
97.28954192972934
97.44825243858696
97.6069629474446
97.76567345630224
97.92438396515986
98.08309447401751
98.24180498287514
98.40051549173276
98.5592260005904
98.71793650944804
98.87664701830568
99.0353575271633
99.19406803602094
99.35277854487857
99.5114890537362
99.67019956259384
99.82891007145147
99.9876205803091

In [164]:
df

,rn,loguser,query,duration,duration_processed,query_processed,coded_query,tensored_query
0,16493642,etl_528,from tbl_111329,duration: 240.851 ms,240.851,"[from, tbl_111329]","[38279, 22713, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...","[38279, 22713, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0..."
1,12761109,etl_528,from tbl_127353,duration: 2165.935 ms,2165.935,"[from, tbl_127353]","[38279, 38643, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",None
2,28294808,etl_528,from tbl_128986,duration: 17661.026 ms,17661.026,"[from, tbl_128986]","[38279, 31241, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",None
3,12703938,etl_528,from tbl_155188,duration: 1047.568 ms,1047.568,"[from, tbl_155188]","[38279, 13705, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",None
4,5906380,etl_528,from tbl_48128,duration: 171.001 ms,171.001,"[from, tbl_48128]","[38279, 33844, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",None
...,...,...,...,...,...,...,...,...
630073,28834119,etl_528,from tbl_208448,duration: 844.241 ms,844.241,"[from, tbl_208448]","[38279, 491, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",None
630074,21292107,etl_2048,from tbl_160773,duration: 40.054 ms,40.054,"[from, tbl_160773]","[38279, 5139, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",None
630075,12924693,etl_2048,"into tbl_83793,join tbl_83793,from tbl_83792",duration: 1190.617 ms,1190.617,"[into, tbl_83793, join, tbl_83793, from, tbl_8...","[11511, 30594, 12090, 30594, 38279, 1191, 0, 0...",None
630076,16756505,etl_1151,from tbl_15915,duration: 417.199 ms,417.199,"[from, tbl_15915]","[38279, 2217, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",None
630077,21023432,etl_2048,from tbl_83212,duration: 692.306 ms,692.306,"[from, tbl_83212]","[38279, 5659, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",None

In [128]:
df.to_csv('trained_data.csv')

In [133]:
index = 0
for code in df['coded_query'][index]:
    print(codes[1][code])

from
tbl_111329

In [111]:
codes[1][22713]

'tbl_111329'

In [101]:
np.where(codes[1] == 'tbl_115410')[0][0]

23842

In [102]:
codes[0][23842]

23842